# Additive experiment: existing Linux payloads, separate hypervisor binary.
menuentry 'hvisor Z270 RAM-only firmware probe (no Linux Zone1)' --id hvisor-z270-firmware-probe {
    insmod part_gpt
    insmod fat
    insmod all_video
    set gfxpayload=keep
    search --no-floppy --fs-uuid --set=esp C75E-ADC9
    multiboot2 ($esp)/hvisor/z270-firmware-probe/hvisor
    module2 ($esp)/hvisor/z270/boot.bin 0
    module2 ($esp)/hvisor/z270/boot.bin 5008000
    module2 ($esp)/hvisor/z270/setup.bin 500a000
    module2 ($esp)/hvisor/z270/vmlinux.bin 5100000
    module2 ($esp)/hvisor/z270/initrd.img 65000000
}
