set default=0
set timeout=5
terminal_input console
terminal_output console
insmod part_msdos
insmod ext2
insmod search
insmod search_label
insmod chain
search --no-floppy --label IMX8MP_ARCH72 --set=root

menuentry 'Arch Linux ARM - bare metal' {
    devicetree /boot/mainline/OK8MP-C-mainline.dtb
    linux /boot/mainline/Image-7.2 console=ttymxc1,115200 earlycon=ec_imx6q,0x30890000,115200 root=/dev/mmcblk1p1 rootwait rw
}

menuentry 'Hvisor Zone0 - 2.5 GiB / GPU / HDMI / USB-A + USB-C / Wi-Fi' {
    chainloader /boot/hvisor-profiles/desktop-2g5/hvisor-loader.efi
    boot
}
